# Global
target
*.log

# Eclipse
.project
.classpath
.settings
.metadata

# IntelliJ
.idea
*.iml

# Svn
.svn

# Maven
release.properties
*.releaseBackup
demo/src/main/resources/
demo/src/test/
util/src/main/resources/
util/src/test/
/.idea/workspace.xml
